.container-infobanner{
    position: static;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.59) 60%,rgba(0,0,0,0.15) 100%), url("/assets/family.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    padding: 5rem;
    .slogan {
        font-size: 30px;
        font-style: italic;
    }
    p {
        font-size: 25px;
        color: $black-primary;

    }
}
@media only screen and (max-width: $desktop) {
    .container-infobanner{
        padding: 3%;
    }
}