.container-icons {
    display: flex;
    justify-content: space-between;
    padding: 5rem 7rem;
    flex-wrap: nowrap;
    .container-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $black-primary;
        i {
            font-size: 5rem;
        }
        p {
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}
@media only screen and (max-width: $desktop) {
    .container-icons {
        flex-direction: column;
    }
}
